* {
    box-sizing: border-box;
}
html , body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
.logoNetflix img {
    width: 100px;
}
.navbar {
    background-color: black !important;
}