* {
    box-sizing: border-box;
}
html , body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
}
.logoNetflix img {
    width: 100px;
}
.navbar {
    background-color: black !important;
}
.bi {
    font-size: 18px;
    
    
}
.geners {
   height: 40px;
}
.profile {
    width: 140px;
}
.checbox1 {
   width: 30px;
    height: 30px;
  color: black;
  background-color: black;
}



.avatar {
    width: 20px;
    height: 100%;
   
  
    margin: 0 auto; 
}

.profile-name {
    color: #fff; 
    font-size: 14px;
    margin-top: 5px;
}

